@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
:root{
  
    /* Colors */
    --main: #fff;
    --primary: #07072b;
        --primary-low: #04041a;
    --secondary: #DB59DE;
        --secondary-low: #c750c9;
    --alternative: #41BBE0;
        --alternative-low: #3daed0;
    --accent: #E0A600;
        --accent-low: #d69d00;
    --grey-one: #ebeaea;
    --grey-two: #d6d4d4;
    --grey-three: #c8c8c8;

    /* Spacing */
    --none: 0px;
    --extra-small:  4px;
    --small: 8px;
    --medium: 16px;
    --large: 32px;
    --extra-large: 64px;
    --extra-extra-large: 128px;
    --buttons:  8px 16px;
  
    /* Borders */
    --button: 4px;
    --radius-small: 4px;
    --radius-medium: 8px;
    --radius-large: 12px;
    --radius-extra-large: 16px;
  
    /* default font */
    font-family: Arial, Helvetica, sans-serif;

      /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  
  }
  /* body */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* main styling of headings */
  h1{
    font-size: 76px;
    font-family: tangerine ;
    font-weight: bold;
  }
  
  h2{
    font-size: 46px;
    font-family: tangerine;
    font-weight: 600;
  }
  
  p{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  
  }
  a{
    font-style: italic;
    text-decoration: none;
    color: var(--primary-low);
  }

  span{
    font-size: 170px;
  }

  body{

  }
  .wrapper-1{
    background: url("boston-public-library-h2FfpAS0ozI-unsplash.jpeg")  repeat-x ;
    background-position-x: 400px;
    background-position-y: -200px;
    object-fit: contain;
  }
  .section-1--home{
    max-width: 800px;
    padding: var(--extra-large);
    padding-top: var(--large);
    display: flex;
    flex-direction: column;
    gap: var(--small);
    & h1{
        padding-bottom: var(--medium);
        color: var(--primary);
    }
    & h2{
        color: var(--primary-low);
    }
    & h3{
        color: var(--accent);
        
    }
    & strong{
        color: var(--accent-low);
        font-style: italic;
    }
    & p{
        max-width: 600px;
        font-style: italic;
    }
    & ul{
        list-style: none;
    }
  }

  .section--1-history{
    padding: var(--extra-large);
    padding-top: var(--large);
    display: flex;
    flex-direction: column;
    gap: var(--small);

    & p{
        max-width: 600px;
        font-style: italic;
    }
    & h1{
        padding-bottom: var(--medium);
        color: var(--primary);
    }
    & ul{
        padding-bottom: var(--large);
        list-style: none;
    }
  }